# Your snippets
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.js, .source.scss, .source.less':
  'Copyright':
    'prefix': 'copyright'
    'body': '// ${1:<NAME>} (${2:<SITE>})\n// ${3:Licensed under MIT Open Source}'
  'css var':
    'prefix': 'var()'
    'body': 'var(--${1:key});'
